In [50]:
s = "kishikishore is a worst boy"
t=s.split()
print(t)

['kishikishore', 'is', 'a', 'worst', 'boy']

In [51]:
print()

In [52]:
list1=["kishore","is","a","worst","boy"]
s = "_".join(list1)
print(s)

kishore_is_a_worst_boy

In [53]:
s = "pankaj sharma sir"
words = s.split()                       # ['pankaj', 'sharma', 'sir']

# Get first letters using split and join only
initials = " ".join([w.split()[0][0] for w in words[:-1]])  # 'p s'
last_word = words[-1]                                       # 'sir'

result = " ".join([initials, last_word])
print(result)
#input : "pankaj sharma sir "
#output : "p s sir "

p s sir

In [54]:
s="th the kishikishore t is the worst"
i = s.find("the")
print(i)

3

In [55]:
s="kishikishore is the worst"
t = s.replace("worst","best")
print(t)

kishikishore is the best

In [56]:
l=[1,2,3,4,5]
min11 = min(l)
max1 = max(l)
print("min:",min11)
print("max:",max1)

min: 1
max: 5

In [57]:
del min
del max

NameError: name 'min' is not defined

In [ ]:
t = "This is a sample string for testing."
w = t.replace(" ", "")
sorted = sorted(w)
print(sorted)

AttributeError: 'str' object has no attribute 'sort'

In [64]:
list1 = [5, 2, 9, 1, 5, 6]
sorted_list = sorted(list1)

TypeError: 'list' object is not callable

In [68]:
list1 = [5, 2, 9, 1, 5, 6]
sorted_list = sorted(list1)
print(sorted_list)

TypeError: 'list' object is not callable

In [1]:
string ="kishikihsore"
print(string)

kishikihsore

In [1]:
s="kishore"
list1=list(s)
print(list1)
list1[3]="s"
ns="".join(list1)
print(ns)

['k', 'i', 's', 'h', 'o', 'r', 'e']
kissore

In [2]:
for i in range(1,6):
    print("*"*i)

*
**
***
****
*****

In [ ]:
list1 = ["*"*i for i in range(1,6)] 
print(list1)

In [ ]:
list1 = [i for i in range(10)]
print(list1)